@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
    position: absolute;
    top: 0;
    left: 0;
    background-color: aquamarine;
    width: 100vw;
    height: 100vh;

    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}