<main class="bg-[#252836] p-4 min-h-full md:h-full">
    <div>
        <button class="text-white absolute flex bg-black py-1 px-2 rounded-lg hover:opacity-50" (click)="back()"><img
                class="w-6 h-6" src="../../assets/img/back-icon.svg" alt=""></button>
        <h1 class="text-white text-center uppercase font-extrabold">Draft Items</h1>
    </div>
    <hr>

    <section class=" bg-gray-900 border-[0.2rem] border-gray-600 p-4">
        <div class="w-full overflow-x-scroll">




            <table class="w-full">
                <thead class="text-white bg-gray-800">
                    <tr>

                        <th>customerName</th>
                        <th>Items</th>
                        <th>Id</th>
                        <th>Action</th>
                        <th>Cart</th>
                    </tr>
                </thead>
                @for (draftItem of draftAllItems; track $index) {
                @if (draftItem.cartItems != undefined) {

                <tbody>
                    <tr class="text-center text-white">

                        <td>{{draftItem.customerName|titlecase}}</td>

                        <td>{{draftItem.cartItems.length}}</td>
                        <td>{{draftItem.customerId}}</td>
                        <td> <button
                                class="border border-[#EA7C69] text-[#EA7C69] py-1 px-2 rounded-xl font-semibold hover:opacity-75"
                                (click)="removeDraft($index)"><img src="../../assets/img/draft.svg" alt=""></button>
                        </td>
                        <td>
                            <button
                                class="bg-[#EA7C69] text-white py-3 px-12 mt-2 ml-2 rounded-xl font-semibold hover:opacity-75"
                                (click)="moveCart(draftItem)">Cart</button>
                        </td>
                    </tr>

                </tbody>
                }}

            </table>
        </div>
        <button
            class="border border-[#EA7C69] text-white text-nowrap py-3 px-8 md:px-12 mt-2 ml-2 rounded-xl font-semibold hover:opacity-75"
            (click)="removeDraft1($event)">Remove All</button>
    </section>


</main>